/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 15, 2022, 6:51:05 AM
    Author     : ADMIN
*/

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, yellowgreen, aqua, white);
    display: flex;
    align-items: center;
    justify-content: center;
}