/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 25, 2022, 9:59:46 PM
    Author     : ADMIN
*/

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

input,
textarea,
select,
button {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    padding: 7rem 25rem;
    min-height: 100vh;
}

.insert {
    display: flex;
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
    padding: 40px;
    box-shadow: 0 0 5px 9px rgba(0, 0, 0, 0.062);
    border-radius: 1rem;
}
.insert-heading {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #0eb582;
    padding-bottom: 5px;
    margin-bottom: 30px;
    position: relative;
}
.insert-heading::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 5px;
    border-radius: 3px;
    background-color: #0eb582;
}
.insert-form {
    width: 50%;
    justify-content: space-between;
}
.insert-form__group {
    margin: 20px 0;
}
.insert-form__lable {
    display: block;
    margin-bottom: 5px;
}
.insert-form__input {
    cursor: pointer;
    border: 2px solid rgba(153, 153, 153, 0.253);
    outline: none;
    border-radius: 1rem;
    padding: 12px;
    width: 350px;
    display: block;
    transition: 0.25s linear;
}
.insert-form__input:focus {
    border: 2px solid #0eb582;
    box-shadow: 0 0 3px 6px rgba(14, 181, 130, 0.2);
}
.insert-form__radio {
    display: none;
}
.insert-form__radio:checked + .insert-form__check::after {
    opacity: 1;
    visibility: visible;
}
.insert-form__check {
    cursor: pointer;
    position: relative;
    padding-left: 40px;
}
.insert-form__check::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: rgba(14, 181, 130, 0.6);
    border-radius: 50%;
    transform: translateY(-50%);
}
.insert-form__check::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    border-radius: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-color: #0eb582;
    opacity: 0;
    visibility: hidden;
}
.insert-form__submit {
    font-size: 1.6rem;
    margin-top: 10px;
    color: whitesmoke;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 1rem;
    border: 2px solid #0eb582;
    background-color: rgba(14, 181, 130, 0.4);
    box-shadow: 2px 2px 0px 0px black;
    cursor: pointer;
}
.insert-form__submit:active {
    transform: translateY(3px);
    box-shadow: 1px 1px 0px 0px black;
}
.insert-img {
    width: 50%;
}
.insert-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


